@using PagedList
@using PagedList.Core.Mvc
@using WebOanhVinh.ClassHelpers
@using WebOanhVinh.Models
@model List<Post>
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner text-center">
                    <div class="breadcrumb_iner_item">
                        @if(@ViewData["Title"] == "Danh Mục Bài Đăng")
                        {
                            <h2>Tất Cả Bài Đăng (@ViewBag.CountList)</h2>
                        }
                        else
                        {
                            <h2>@ViewData["Title"] (@ViewBag.CountList)</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Blog Area =================-->
<section class="blog_area section_padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">
                    @foreach (var item in Model)
                    {
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="@item.PostImages" alt="@item.PostALTSEO">
                                <a href="#" class="blog_item_date">
                                    @{
                                        if (@item.CreateTime != null)
                                        {
                                            <h3>@item.CreateTime.Value.Day</h3>
                                            <p>@item.CreateTime.Value.Month.@item.CreateTime.Value.Year</p>
                                        }
                                        else
                                        {
                                            <h3>01</h3>
                                            <p>01.2022</p>
                                        }
                                    }

                                </a>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block"
                               asp-route="PostDetail"
                               asp-route-mid="@item.PostCategoryID"
                               asp-route-id="@item.PostID"
                               asp-route-title="@item.PostTitle">
                                    <h2>@item.PostTitle</h2>
                                </a>
                                <p>@item.PostDescription</p>
                                <ul class="blog-info-link">
                                    <li><a href="#"><i class="fa fa-th-large"></i>@item.PostCategoryName</a></li>
                                    <li><a href="#"><i class="far fa-user"></i> @item.UserFullName</a></li>
                                </ul>
                            </div>
                        </article>

                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <!--search-->
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Từ khóa tìm kiếm'
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Từ khóa tìm kiếm'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_4" type="submit">Tìm</button>
                        </form>
                    </aside>
                    <!-- vcPostCategorySidebar -->
                    <vc:vc-post-category-sidebar />
                    <!-- vcPostActiveImgSidebar -->
                    <vc:vc-post-active-img-sidebar />
                    <!-- vcPostNewSidebar -->
                    <vc:vc-post-new-sidebar />
                </div>
            </div>
        </div>
    </div>
</section>
@*<pager class="pager-container" list="@Model" options="@PagedListRenderOptions.TwitterBootstrapPager" asp-action="Index" asp-controller="PostController" />*@

<!--================Blog Area =================-->
@*<nav aria-label="Page navigation example">
    <ul class="pagination">
    <li class="page-item">
    <a class="page-link" href="#" aria-label="Previous">
    <span aria-hidden="true">&laquo;</span>
    </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
    <a class="page-link" href="#" aria-label="Next">
    <span aria-hidden="true">&raquo;</span>
    </a>
    </li>
    </ul>
    </nav>*@