@using WebOanhVinh.Models
@model Dictionary<int, string>
@{PagingOutput output = ViewBag.PagingOutput as PagingOutput;}

<ul class="pagination justify-content-center">
    <li class="page-item">
        <a class="page-link" href="@output.PageFirstUrl" tabindex="-1">
            <i class="fa fa-angle-double-left"></i>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="@output.PageBackUrl" tabindex="-1">
            <i class="fa fa-angle-left"></i>
        </a>
    </li>

    @foreach (var item in Model)
    {
        <li class="@(output.Page == item.Key ? "page-item active" : "page-item")">
            <a class="page-link" href="@item.Value">@item.Key</a>
        </li>
    }

    <li class="page-item">
        <a class="page-link" href="@output.PageNextUrl">
            <i class="fa fa-angle-right"></i>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="@output.PageLastUrl">
            <i class="fa fa-angle-double-right"></i>
        </a>
    </li>
</ul>